<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
        <link rel="stylesheet" href="main.css">

        <script src="index.js"></script>

    </head>
    
    <body>
        <span class="tag is-primary">Primary</span>

        <div id="app">
                {{ message }}
        </div>

        <div id="app-2">
                <span v-bind:title="message" v-bind:class="myclass" v-on:click="changeClass">
                  Hover your mouse over me for a few seconds
                  to see my dynamically bound title!

                  {{isticked}}
                </span>
                <input type="checkbox" v-model="isticked">Click me</input>
        </div>

        <div id="app-3">
            <div class='bar'>
                <div class='bar-segment' v-for="seg in segments" v-bind:style="{'flex-basis': zoom*seg.w + 'px'}">
                    {{seg.w}}
                </div>
            </div>
        </div>
    </body>
</html>
